body { font-family: Arial;}
h1 { color: #FE2E9A ; text-align:center;}
h2 { color: #CC2EFA ;}
a { color: #F7BE81; text-decoration:none;}
#verde { color:#31B404; font-style: italic;}
#rojo { color:#FF4000; font-size: 20px; text-align:right;}